<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Off the Record</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" type="text/html" href="./src/index.scss" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <script src="./auth.js"></script>

</head>

<body class="landing-cont">
  <h1>Test</h1>
</body>

</html>